/*
HamExam.org Flash Cards CSS File
$Id: flash_cards.css 163 2018-07-10 23:09:14Z rchinn $
*/

/*  Flash Card Page Title */
.flashCardHeader
{
	font-size: 18px;
}

/* ---- Questions and Answers ---- */

@media print {
  /* Try to have page breaks at reasonable locations but fail */
  div.content, div.flashCard
  {
    page-break-inside: avoid;
  }
  /* hide reference material icons */
  div.referenceBox, img.referenceIcon {
    display: none;
  }
}

/* Question Number */
div.question p.questionNumber
{
  margin-bottom: 0;
  color: #777777;
  font-size: 14px;
  font-weight: bold;
}
/* Question Text */
div.question p.questionText
{
  margin: 3px 0 5px 0;
  font-size: 13px;
  font-weight: bold;
}
/* Answer List */
div.question ul
{
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}
div.question ul li
{
  line-height: 150%;
  text-indent: -45px;
  padding-left: 39px;
}
div.question ul li.wrongAnswer
{
  text-decoration: line-through;
}
/* Add space before answers with no X or checkmark */
div.question ul li .noMarks
{
  padding-left: 25px;
  height: 17px;
}
/* Answer radio box */
div.question ul input
{
  margin-left: 5px;
  margin-right: 5px;
}
/* Answer */
div.question ul label
{
  margin-left: 5px;
}

/* Figures */
div.question img.figure
{
  border: 1px solid blue;
  float: right;
  clear: right;
  margin-bottom: 10px;
  max-width: 200px;
  max-height: 120px;
}


/* ---- Form Buttons ---- */
#submitButton {
  margin: 0 20px 0 5px;
}


/* Group titles in the pool display */
h2.groupHeading
{
  border-top: 1px dashed gray;
  border-bottom: 1px dashed gray;
  padding: 5px 0 5px 0;
}

table.statsTableSubelement
{
  max-width: 550px;
  border-collapse: collapse;
}
table.statsTableSubelement th, table.statsTableGroup th
{
  background-color: #EFEFEF;
}

table.statsTableGroup
{
  max-width: 550px;
  border-collapse: collapse;
}
img.statsGraph
{
  margin-left: 20px;
}

table.examStats, table.examStats th, table.examStats td {
  text-align: left;
  border-collapse: collapse;
  border: 1px solid black;
  padding: 4px;
  margin-left: auto;
  margin-right: auto;
}
table.examStats th
{
  text-align: right;
}
table.examStats th.examStatsHeader
{
  text-align: center;
  background-color: #EEE;
}

/* highlight answers on rollover */
div.question li:hover
{
  background-color: #DDD;
}

/* Reference Materials */
.referenceIcon
{
  float: right;
  border: 0;
  width: 25px;
  height: 25px;
}
.referenceUL li {
    margin-bottom: 10px;
    list-style-type: none;
}
